research_private/
dokodemo/
doko-demo-issyo/
doko-demo-issyo/**
*.bin
*.BIN
*.[bB][iI][nN]
*.iso
*.ISO
*.[iI][sS][oO]
*.cue
*.CUE
*.[cC][uU][eE]
*.img
*.IMG
*.[iI][mM][gG]
*.sub
*.SUB
*.[sS][uU][bB]
*.ccd
*.CCD
*.[cC][cC][dD]
*.chd
*.CHD
*.[cC][hH][dD]

docs/research/generated/
__pycache__/
*.pyc

node_modules/
dist/
*.tsbuildinfo
.vite/
*.local
*.zip
review-*.zip
.playwright-cli/
output/
agreeable_bridge4386_expanded_rules_only.json
